.AS-DoubleViewLeft {
  display: inline-block;
  width: 240px;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.AS-DoubleViewRight {
  display: inline-block;
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
  padding: 0px 0px 0px 5px;
  float: right;
  background-color: white;
}

.AS-DoubleViewRuler {
  display: inline-block;
  width: 3px;
  height: 100%;
  overflow: auto;
  cursor: col-resize;
  background-color: #CCC;
}

.AS-DoubleView {
  border: 1px solid black;
}

.mario {
  width: 50%;
  float: left;
}
