.list-item {
    padding: 5px 5px 5px 0px;
}

.textarea {
    border: 1px solid #BBBBBB;
    border-radius: 0 0 0 0;
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 12px;
    outline: 0 none;
    padding: 11px 23px;
}
.style {
  display: "flex";
  padding: 5px 5px 5px 10px;
}
