.grommet_dropdown {
    min-width: 100px;
	width: -ms-fit-content;
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.grommet_dropdown .valueContainer {
    height: 30px;
    line-height: 28px;
    padding-right: 36px;
    border: 1px solid #70ABC1;
    background: url(../../image/widget/caret-down_16x16.png) no-repeat right 10px top 7px;
}

.grommet_dropdown .widgetContainer {
    width: 100%;
    border: 1px solid #70ABC1;
    border-top: none;
}