.AS-Grid {
    position: relative;
    overflow: hidden;
}

.ArcMC-Grid table {
    border: 1px solid #ededed;
    border-bottom: none;
    border-spacing: 0px;
    margin: 0 !important;
}

.AS-Grid table .grid-filter * {
    background-color: white !important;
}

.AS-Grid * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.AS-Grid .AS-GridRow {
    border-bottom: 1px solid #ededed;
}

.AS-Grid .AS-GridCell {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.AS-Grid .AS-GridCellContent {
    height: 30px;
    padding: 5px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}


/*style head*/

.AS-Grid .AS-GridHead {
    background: #ebecee;
}

.AS-GridHead .AS-GridRow {
    height: 31px;
}

.AS-GridHead .AS-GridCell {
    background: #ebecee;
    border-right: 1px solid #d1d1d1;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.AS-GridHead .AS-GridCellContent {
    font-weight: 600 !important;
    font-weight: bold;
    cursor: pointer;
}

.AS-GridHead .AS-GridCell:last-child {
    border-right: none;
}

.AS-GridHead .AS-GridCell .head-options {
    width: 30px;
    height: 100%;
    line-height: 35px;
    position: absolute;
    top: 0px;
    right: 0;
    text-align: center;
    color: #5a5a5a;
    z-index: 100;
    background: url(../../image/grommet-icons/actions.svg) no-repeat center center;
}

.AS-GridHead .AS-GridCell .head-options:hover {
    background-color: #01a982;
}

.AS-GridHead .AS-GridCell .head-options-popup {
    position: absolute;
    top: 100%;
    left: calc(100% - 30px);
    background-color: #ffffff;
    box-shadow: 0px 2px 6px #888888;
    width: 200px;
    z-index: 101;
    font-weight: normal !important;
}

.AS-GridHead .AS-GridCell .head-options-popup i {
    height: 30px;
    width: 30px;
    margin: 0;
    text-align: center;
}

.AS-GridHead .AS-GridCell .head-options-popup .head-options-popup-row {
    min-height: 35px;
    line-height: 35px;
    overflow: hidden;
}

.AS-GridHead .AS-GridCell .head-options-popup .head-options-popup-row span {
    font-weight: 600;
    font-size: 16px;
}

.AS-GridHead .AS-GridCell .head-options-popup .head-options-popup-row:hover {
    background-color: #e2eff8;
}

.AS-GridHead .GridHeadFilterCheckbox {
    position: absolute;
    top: 11px;
    left: 7px;
}

.AS-GridHead .AS-GridHeadSortIndicator {
    position: absolute;
    top: 0;
    right: 56px;
    height: 30px;
    line-height: 30px;
    width: 16px;
}

.AS-GridHead .AS-GridHeadSortIndicator.fa {
    background-color: #ebecee;
}

.AS-GridHead .AS-GridHeadDescription {
    position: absolute;
    top: 0;
    right: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 16px;
    background-color: #ebecee;
}

.AS-GridHead .popup.tooltip {
    font-weight: normal !important;
    font-size: 12px;
    position: absolute;
}


/*end of style head*/


/*style body*/

.AS-Grid .AS-GridBody {
    min-height: 150px;
    overflow: auto;
}

.AS-GridBody .AS-GridCell {
    overflow: hidden;
}

.AS-GridBody .AS-GridCellContent {
    width: 1400px;
}

.AS-GridBody .AS-GridCellContent img {
    margin: -3px 5px 0 0;
}

.AS-GridBody .AS-GridRow:hover {
    background-color: #e2eff8;
}

.AS-GridBody .AS-GridRow.selected {
    background-color: #c1ddf1;
}


/*end of style body*/