.AS-Tree {}

.AS-Tree .AS-TreeNode {
    cursor: pointer;
    padding: 5px 0;
}

.AS-Tree .AS-TreeNode:hover {
    background-color: #e2eff8;
}

.AS-Tree .AS-TreeNode i {
    margin: 3px 5px 0 0;
    color: #2898E3;
}